@font-face {
  font-family: 'MyWebFont';
  src: local('MyWebFont'), url(./fonts/Peace\ Sans\ Webfont.ttf) format('truetype');
}


.App {
  text-align: center;
}

.App-logo {
  height: 70vmin;
  pointer-events: none;
}

.container {
}

.centered {
  position: absolute;
  color: black;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4vw;
}

.App-body { 
  background-color: #72B0F8;
  min-height: 0vh;
  font-family: 'MyWebFont', Fallback, sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.App-header {
  /*background-color: #72B0F8;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 1vmin);
  font-family: 'MyWebFont', Fallback, sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

