@font-face {
  font-family: 'MyWebFont';
  src: local('MyWebFont'), url(./fonts/Peace\ Sans\ Webfont.ttf) format('truetype');
}


.App {
  text-align: center;
}

.App-logo {
  display: flex;
  flex-direction: column;
  height: 70vmin;
  pointer-events: none;
  align-items: center;
  justify-content: center;
}

.App-contacts { 
  align-items: center;
  justify-content: center;
}

.App-contacts a>img { 
  margin: 0 20px 0 0;
}

.container {
  max-width: 20vw;
}

.centered {
  position: absolute;
  color: black;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4vw;
}

.App-body { 
  background-color:black; 
  min-height: 5vh;
  font-family: 'MyWebFont', Fallback, sans-serif;
  color:white; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  /*background-color: #72B0F8;*/
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(7px + 1vmin);
  font-family: 'MyWebFont', Fallback, sans-serif;
  background-color: #3b8ee8;
  background-image: url("Clouds_Dual.svg"); 
  background-size: 300px;
  background-repeat: repeat;
  animation: animatedBackground 60s linear infinite;
 
}

.App-header::before { 
 
}


@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@keyframes animatedBackground {
  0% { background-position: 0 0; }
  50% {background-position: -300px 0;}
  100% { background-position: 150 0; }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

